body {
    background: url(../images/countrylife.jpg);
}

.content {
    width: 940px;
    height: 100%;
    margin: 0 auto;
    background: #b6dfbb;
}

.header {
    font-family: "Magneto";
    font-size: 50px;
    text-decoration: underline;
    color: #603d75;
    text-align: center;
    padding: 20 0 20 0;
}

#start, #reset {
    height: 50px;
    width: 200px;
    font-size: 25px;
    font-family: "Goudy Stout";
    background: #0b9b6b;
    color: #ffffff;
}
.triviaQuestion {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f9fffd;
    font-size: 30px;
    text-align: center;
}

.question {
    text-align: left;
}

.ans {
    display: block;
    text-align: center;
    font-size: 30px;
}

.ans:hover {
    background: #acff85;
    color: #006e53;
}