body {
    background: url(../images/countrylife.jpg);
    font-family: "Maiandra GD";
}

.content {
    width: 940px;
    height: 100%;
    margin: 0 auto;
    background: #b6dfbb;
}

.header {
    font-family: "Jokerman";
    font-size: 50px;
    text-decoration: underline;
    color: #005a5a;
    text-align: center;
    padding: 20 0 20 0;
    text-shadow: 1px 2px 2px #d38cd3, 0 0 25px rgb(189, 90, 184), 0 0 5px rgb(73, 34, 92);
}

#start, #reset {
    height: 50px;
    width: 200px;
    font-size: 25px;
    font-family: "Goudy Stout";
    background: #0b9b6b;
    color: #ffffff;
}

h1, #feedback, #endGameContainer, #startContainer {
    font-size: 25px;
    text-align: center;
}
.triviaQuestion {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f9fffd;
    font-size: 30px;
    text-align: center;
}

.question {
    text-align: center;
    font-size: 25px;
    background: #f1ffa4;
    padding: 35 0 35 0;

}

.ans {
    display: block;
    text-align: center;
    font-size: 30px;
}

.ans:hover {
    background: #acff85;
    color: #006e53;
}

#scoreKeeper{
    font-size: 30px;
    font-family:"Ravie";

}